/likes.csv
/news.csv
/ratings.csv
/tags.csv
/userInterest.csv
/users.csv
/news_processed.csv
/ratings_processed.csv
/users_processed.csv
/train_losses.csv
/test_losses.csv
/losses.png
/embeddings.pt
/metrics.json
