name: model-training-evaluate
on:
  # release:
  #   types: 
  #     - 'created'
  push:
    branches:
      - master
  # pull_request:
  #   branches:
  #     - master
  #   types:
  #     - closed
permissions:
  contents: write
jobs:
  run:
    # if: ${{github.event.pull_request.merged}}
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Train and Evaluate model'
        shell: bash
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          REC_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          REC_AWS_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          REC_AWS_REGION: ap-southeast-1
          REC_BUCKET_NAME: news-recommender
          MEDIA_ROOT: uploads-live
        run: |
          # Install requirements
          pip install -r requirements.txt

          # Pull data & run-cache from S3 and reproduce pipeline
          dvc pull --run-cache
          # python ./src/preprocess.py ./data/
          dvc repro -f preprocess
          # python ./src/train.py ./data/
          # python ./src/evaluate.py ./data/ 7170
          dvc repro -f train evaluate
          git config --global user.name 'shovan777'
          git config --global user.email 'raj.shrestha778@gmail.com'
          git add .
          # git commit -am "Train model with new data"
          # dvc repro train evaluate
          # dvc push

          # Report metrics
          echo "## Metrics" >> report.md
          # git fetch --prune
          dvc metrics diff master --show-md >> report.md

          # Publish confusion matrix diff
          echo -e "## Plots\n### Loss Curve" >> report.md
          cml-publish ./data/losses.png --md >> report.md
          cml-send-comment report.md
          # # cml comment update report.md --target=pr
          git commit -am "Train model with new data."
          git push
          dvc push


